.progressive-loader{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2f2f2f6e;
    z-index: 11111111;
}